html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
h1 {
  text-align: center;
}

p,
a {
  font-size: 0.85em;
  line-height: 1.25em;
}

a {
  transition: color 0.2s ease-out;
}

a:link,
a:visited {
  color: goldenrod;
}

a:hover,
a:focus {
  color: peru;
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
}

button {
  appearance: none;
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 1em;
  cursor: pointer;

  &:first-child {
    border-right: 1px solid white;
  }

  &:hover,
  &.active {
    background-color: rgb(30, 104, 239);
  }

  &.btn-cta {
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 1em;
  }

  &.btn-delete {
    width: 2em;
    height: 2em;
    ;
    padding: 0.5em;
    border-radius: 100%;
    background-color: gainsboro;

    transition: background-color 0.2s ease-out;

    &:hover,
    &:focus {
      background-color: crimson;
    }
  }
}

section.tab {
  border: 2px solid cornflowerblue;
  padding: 0 1em;
  min-height: 10em;
}

.label {
  display: block;
  color: darkslategray;
}

input,
textarea {
  margin-bottom: 0.75em;
  width: 100%;
}

label:has(:required) span {
  &:after {
    content: "*";
    color: crimson;
  }

}

hr {
  color: cornflowerblue;
}

.error {
  color: crimson;
}